<%# show flash from when the user submitted an email %>
<script>
<%# show a toast from the front-end lib for 5 seconds %>
<% if flash[:notice] %>
  Materialize.toast("<%= flash[:notice] %>", 5000);
<% end %>
</script>

<%# mobile navigation menu %>
<ul class="side-nav main-color" id="mobile-menu">
  <li><a href="#aboutus">About us</a></li>
  <li><a href="#portfolio">Portfolio</a></li>
  <li><a href="#contact">Contact</a></li>
  <li class="divider"></li>
  <li><a href="https://github.com/fullstck/homepage">Source</a></li>
</ul>

<%# navigation on top of page, follows you down %>
<div id="index-banner">
  <div class="navbar-fixed">
    <nav id='navigation' class='trans-nav'>
      <div class="nav-wrapper container">
        <a href="#index-banner" class="brand-logo light">
          <img src="<%= asset_path 'logo.png' %>" alt="logo">
          fullstck
        </a>
        <a data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#aboutus">About us</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <%# text in middle of jumbotron %>
  <div class="section no-pad-bot no-pad-top">
    <div class="container">
      <h1 class="header center">form & functionality</h1>
    </div>
  </div>
</div>

<%# "separator" that later becomes part of the navigation %>
<div class="navbar" id='navsep'>
  <nav class="separator-nav">
  </nav>
</div>

<div class="container">
  <div class="section center" id="aboutus">
    <div class="row">
      <div class="col s12">
        <h2 class='light'>Who are we?</h2>
        <p class="flow-text sixty-percent-text">
        Some choose form over functionality, we choose both. By putting equal
        weight on design and development, we achieve functional websites with a
        design tailored to your needs.
        </p>
      </div>
      <div class="col s12 m4">
        <i class="material-icons large">settings</i>
        <h4>Development</h4>
        <p>
        Freedom is a great priority of ours, and to achieve that we use solely
        open-source frameworks and programs during development. Combined with
        the pinnacle of new technology, we deliver very fast and responsive
        websites, and are able to suit all the clients demands.
        </p>
      </div>
      <div class="col s12 m4">
        <i class="material-icons large">forum</i>
        <h4>Collaboration</h4>
        <p>
        We aim to have complete transparency with our clients as we work
        with them. You will have full access to our work through sites like
        <a href="https://github.com">GitHub</a>, and if you are dissatisfied
        with anything, we will alter our work to suit your demands.
        </p>
      </div>
      <div class="col s12 m4">
        <i class="material-icons large">mode_edit</i>
        <h4>Design</h4>
        <p>
        Our design also has a lot of focus on simplicity. By using flat/material
        design, and creating everything in vector graphics, our design can be
        rescaled to any size with no loss in quality. We also have the ability
        to create assets and/or take photos for your project.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="portfolio">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <img class="responsive-img" src="<%= asset_path('opera.jpg') %>" alt="A material design approach to the norwegian opera">
      </div>

      <div class="card-action">
      <p>
      <i class='material-icons'>info_outline</i>
      An in-depth portfolio is under construction, where you will be able
      to read about our previous work in detail.
      </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section" id="contact">
    <h2 class="light center">Contact</h2>
    <p class='light'>
    If you found our content appealing, and would like a website of your own,
    contact us using the form below and we'll be in touch shortly. If you are
    wondering about pricing we can provide you with an estimate if you specify
    the general outline of your project below.
    </p>
    <%= form_tag(controller: :static_page, action: :contact, method: 'post') %>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="message" name="message" class="materialize-textarea"></textarea>
        <label for="message">Message</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button id='submit' class="btn btn-large waves-effect waves-light" type="submit" name="action">Send</button>
      </div>
    </div>
    </form>
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li class='grey-text text-lighten-3'><i class='material-icons tiny'>email</i> contact@fullstck.io</li>
          <li class='grey-text text-lighten-3'><i class='material-icons tiny'>contact_phone</i> +47 928 48 870</li>
          <li class='grey-text text-lighten-3'><i class='material-icons tiny'>location_on</i> Vestre Elvebakke 3, 0182 Oslo</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Released under GNU AGPL-v3.0
      <a href='https://github.com/fullstck/homepage'><span class='right grey-text'>Source</span></a>
    </div>
  </div>
</footer>
